
body {
  background-color: darkgrey;
  padding-top:200px;

}


.bottom {
  vertical-align: bottom;
}

.center {
  vertical-align: middle;
}

.top {
  vertical-align: top;
  background-color: #B99B79;
  position:fixed;
  top:0;
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.tranbutton {
  border: none;
  background: transparent;
  float: right;
  padding-right: 5px;
  vertical-align: top;
}


.nav-item:hover .dropdown-menu{
  display: block;
}

h1{
  color:blue;
}

table{
  margin-right: auto;
  margin-left: auto;
}

.borderarticles{
  border:dotted grey 12px;
  border-bottom:none;
  width:4%;
  margin:100px auto;




}

/*

#FFCB5C
#B99B79
#FFBE33
#003D32
#006653
#1C00ff00 - TRANSPARENT
*/
