
body {
  background: #939b62;
  padding-top:200px;

}
.bottom {
  vertical-align: bottom;
}

.center {
  vertical-align: middle;
}


td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.tranbutton {
  border: none;
  background: transparent;
  float: right;
  padding-right: 5px;
  vertical-align: top;
}


.nav-item:hover .dropdown-menu{
  display: block;
}

.nav-link:hover{
  color:#939b62;
}
.dropdown-item:hover{
  color:#939b62;
}


table{
  margin-right: auto;
  margin-left: auto;
}

.borderarticles{
  border:dotted black 12px;
  border-bottom:none;
  width:4%;
  margin:100px auto;
}


/* NavBar style */

.on_top{
  z-index:-2;
}
.nav_style{
  width:100%;
  font-weight:bold;
  font-size:24px;
  margin-top:50px
}
.nav_text_color{
  color:white;
  font-family: 'Roboto', sans-serif;
}
.top_buttons{
  margin-bottom:125px;
}
.navbar_style{
  background:black;
  height:200px;
  transition: background 0.5s;
  /*border-bottom: none;*/
}

/*------------------------------------------------------ index.html body -------------------------------------------------*/

/*Blog section*/
.blog_section{
margin-left:5%;
margin-right:5%;
}
.h1_style{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

/*countdown section */
.width_100{
  width:100%;
}
.text_style{
  color:white;
  font-family: 'Roboto', sans-serif;
}
.countdown_style{
  border: none;
  height:300px;
  width:100%;
  padding:80px;
}
/*Misiune, Viziune, Valori section */
.p_style{
  width:33%;
  font-family: 'Roboto', sans-serif;
  color:white;
  font-weight:bold;
}

.p_content_style{
  font-size:20px;
  font-style:italic;
}

/*Footer section */
.list_group_style{
  background-color:darkgrey;
  border:2px solid grey;
  width:50%;
  margin-left:7%;
  margin-bottom:5%;
}
.list_group_item_style{
  background-color:darkgrey;
}
.td_alignment{
  vertical-align:top;
}
.h4_style{
  margin-left:20%;
}
.form_style{
  width:50%;
  margin-right:7%;
  margin-bottom:5%;
  margin-left:20%;

}

/*------------------------------------------------------ echipa.html body -------------------------------------------------*/
/*EchipaBEE section */
.container_fluid_style{
  margin-top:30px;
}
.h3_style{
  margin-left:15px;
}
.text_center{
  text-align:center;
}
.h5_style{
  font-style:italic; color:black; font-size:14px;
}
.imgteam{
  border-radius:50%;
  width:250;
  height:250;
  margin-left: 10%;
  margin-top:10px;
  border:2px solid white;
}
/*Footer section */









/*
#FF7B54
#ffb26b
#ffd56b
#939b62
#1C00ff00 - TRANSPARENT
*/
