.image-class{
    width:100%;
}

.image-blur{
    animation: text-blur-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 0s;
}

.image-class:hover .image-blur{
   animation: text-blur-out 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.image-class:hover .hidden{
    opacity: 1;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.hidden{
    opacity: 0;
    animation: text-focus-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}


@keyframes text-blur-out {
  0% {
    filter: blur(0.05px);
  }
  100% {
    filter: blur(12px) opacity(75%);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Customs */
@keyframes text-focus-out {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(12px);
    opacity: 0;
  }
}
@keyframes text-blur-in {
  0% {
    filter: blur(12px) opacity(75%);
  }
  100% {
    filter: blur(0.05px);

  }
}


