<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    {% load static %}
    <link href="{% static 'icons/favicon.ico'%}"
          rel="icon"
          type="image/png">
    <link href="{% static '/CSS/styles.css/' %}" rel="stylesheet">
    <title>{% block title %}Beehave Blog {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img heigth="75px" src="https://i.imgur.com/k46ywRL.png" width="75px"></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Category Menu Code -->
            {% if cat_menu %}
            <div class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown1" role="button">
                    Categories
                </a>
                <ul aria-labelledby="navbarDropdown1" class="dropdown-menu" role="menu">
                    {%for item in cat_menu %}
                    <li><a class="dropdown-item" href="{% url 'category' item|slugify %}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <li>
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
            </li>
            {% else %}
            <li>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown2" role="button">
                    {{ user.first_name }} {{ user.last_name }}
                </a>
                <ul aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a></li>
                    {% if user.profile.id %}
                    <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br/>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>