{% extends 'base.html' %}
  {% block title %}Delete Blog Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<h1>Delete Post...</h1>
<br/><br/>
<h3>Delete: {{ post.title }}</h3>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure? </strong><br/><br/>
        <button class="btn btn-secondary">Confirm delete</button>
    </form>
</div>
{% else %}
<h1>Login with the post author to delete this.</h1>
{% endif %}
{% else %}

<h1>Please go back and login first.</h1>

{% endif %}
{% endblock %}